/* Whole document*/

@import url('https://fonts.googleapis.com/css?family=Barriecito|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

* {
    box-sizing: border-box;
    font-family:  'Roboto Condensed', sans-serif;
    color: rgb(34, 34, 34);
    font-size: 16px;
    margin: 0px;
}

body {
    background-color: rgb(245, 245, 245);
}

a:hover {
    text-shadow: 1px 1px 2px rgb(46, 46, 117); 
}

/* Header */

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration-line: none;
    font-size: 1.25em;
    color: rgb(34, 34, 34);
    display: block;
}

.headline {
    background-color: rgba(231, 231, 231, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
}

.home{
    font-family: 'Tangerine', cursive, sans-serif;
    font-style: italic;
    color: rgb(46, 46, 117);
    font-size: 3.25em;
    letter-spacing: 2px;
    text-align: center;
    text-align-last: center;
    padding: 10px;
}

.banner {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 450px;
    max-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5em;
    color: rgb(245, 245, 245);
    letter-spacing: 2.5px;
    font-weight: lighter;
    text-align-last: center;
    font-weight: bold;
}

/* Footer */

footer ul li img {
    width: 30px;
}

footer {
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}

footer ul li a {
    text-decoration-line: none;
}

.footer_name a {
    font-family: 'Tangerine', cursive, sans-serif;
    font-style: italic;
    font-size: 1.5em;
}

/* Content */

h2 {
    text-transform: uppercase;
    text-align: center;
    text-align-last: center;
    letter-spacing: 1.5px;
    font-size: 2em;
    margin-top: 2em;
}

hr {
    color: rgb(245, 245, 245);
    width: 12%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

p {
    width: 90%;
    margin: auto;
    text-align: justify;
    text-align-last: center;
}

.smiley {
    width: 15px;
}

/* Home */

.category_home ul li img {
    width: 100px;
}

.category_home ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.category_home ul li a {
    font-family: 'Tangerine', cursive, sans-serif;
    text-decoration-line: none;
    padding: 10px;
    font-size: 2.5em;
    color: rgb(34, 34, 34);
    display: block;
    text-align: center;
}

.last_news a {
    text-decoration-line: none;
}
.last_news a h3 {
    text-transform: uppercase;
    text-align: center;
    text-align-last: center;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-top: 1.5em;
}

.last_news a p {
    width: 40%;
}

/* About */

.my_resume {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
